body {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
}

main {
  display: block;
  width: 80%;
}
aside {
  display: block;
  margin-top: 60px;
  margin-left: 40px;
}

footer {
  display: block;
}

header {
  display: block;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #ff2751;
}

footer {
  background: linear-gradient(232deg, #00d9da, #ff2751);
  color: white;
  border-radius: 4px;
}
#tfooter {
  margin: 10px 10px;
  text-align: center;
}
img {
  width: 20vh;
  margin-bottom: 1px;
}

h6 {
  margin-top: 0px;
}

nav p {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}

h1 {
  margin-bottom: 0;
  text-align: center;
  color: #ff2751;
}

h2 {
  margin: 2px;
  color: #00d9da;
}

main h3 {
  margin-top: 2px;
  text-align: center;
}
address {
  font-size: 14px;
}

a {
  font-style: italic;
}

fieldset {
  width: 20%;
}

button {
  border-radius: 6px;
}

th {
  text-align: center;
  border: 1px solid black;
}

td {
  text-align: center;
}

table {
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: #00d9da;
}
